body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.container {
  max-width: -webkit-fill-available;
  margin: 0 auto;
  padding: 0px;
}

.avatar {
  height: 28px;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid darkgray;
  padding: 3px;
}
.nav-tabs {
  border-bottom: 1px solid #008000;
  justify-content: center;
  margin-top: 0;
  background-color: #f3fff6;
  padding-top: 20px;
}

.nav-tabs .nav-link.active {
  color: #008000;
  background-color: #fff;
  border-color: #008000 #008000 #fff;
  font-weight: bold;
}
.tab-content>.active {
  display: block;
  text-align: -webkit-center;
}

.progress {
  display: flex;
  height: 1.5rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: var(--success);
  transition: width .6s ease;
}
.rounded-circle {
  border-radius: 50%;
  width: 40%;
  border: 1px solid darkgray;
  padding: 15px;
  margin: 15px;
}
.selectWid {
  width: 90%;
}

svg {
  position: absolute;
  top: 37%;
  left: 50%;
  margin-top: 0px;
  margin-left: -20%;
}

.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 65%;
  left: 12%;
  margin-top: 125px;
  margin-left: 50px;
  color: var(--green);
  font-family: Roboto;
  font-weight: 300;
}

.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}

.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
  animation-delay: .2s;
}

#Polygon-3 {
  animation-delay: .4s;
}

#Polygon-4 {
  animation-delay: .6s;
}

#Polygon-5 {
  animation-delay: .8s;
}

@keyframes float {
  100% {
      transform: translateY(20px);
  }
}

@media (max-width: 450px) {
  svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
  }

  .message-box {
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px;
      text-align: center;
  }
}
.link-button{
    color: #fff;
    background-color: var(--success);
    border-color: var(--success);
    width: 50%;
}
.link-button:hover{
    color: #fff;
    background-color: var(--success);
    border-color: var(--success);
    width: 50%;
}